<h1>15puzzle</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<table>
  <% @board.each do |part| %>
  	<tr>
	  <% part.each do |elem| %>
	  	<% if elem == 0 %>
	  	  <td class="zero"><%= elem %></td>
	  	<% elsif moving_elements(@board, part).include? elem %>
	      <td id="button"><%= button_to elem, { action: "move_elem", elem: elem } %></td>
	    <% else %>
	      <td><%= elem %></td>
	    <% end %>
	  <% end %>
  	</tr>
  <% end %>
</table>

<%= button_to "Back", root_url, method: :get, class: "back" %>
